/* Theme Colors & Modifications */
.theme-dark,
.theme-light {
    --interactive-accent: #EE7411;
    --text-accent: #EE7411;
    --interactive-accent-rgb: #EE7411;
    --embed-background: rgba(0, 0, 0, 0);
    --popover-width: 800px;
    --popover-height: 500px;
}

/* Banner Plugin Modifications */
.obsidian-banner-wrapper {
  margin-top: 0px;
  padding-top: 0px;
}
.mod-header:has(+ .obsidian-banner-wrapper) {
  margin-top: var(--banner-height);
}

/* Alignment of Images */
img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="right"] {
    float:right;
    clear:right;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Custom Callouts */
.callout[data-callout="key-idea"] {
    --callout-color: 41, 168, 5;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-key-round;
}

.callout[data-callout="space"] {
    --callout-color: 173, 4, 195;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-stars;
}

.callout[data-callout="instrumentation"] {
    --callout-color: 155, 3, 3;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-satellite;
}

.callout[data-callout="note"] {
    --callout-color: 171, 171, 171;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-paperclip;
}

.callout[data-callout="image"] {
    --callout-color: 171, 171, 171;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-bar-chart-horizontal-big;
}

.callout[data-callout="cian"] {
    --callout-color: 221, 8, 182;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-bug;
}

.callout[data-callout="today"] {
    --callout-color: 221, 8, 8;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-calendar;
}

.callout[data-callout="sun"] {
    --callout-color: 255, 174, 0;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-sun;
}

.callout[data-callout="atom"] {
    --callout-color: 8, 221, 12;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-atom;
}

.callout[data-callout="temperature"] {
    --callout-color: 221, 8, 8;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-thermometer;
}

.callout[data-callout="derivation"] {
    --callout-color: 0, 0, 0;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-calculator;
}

.callout[data-callout="measure"] {
    --callout-color: 0, 125, 128;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-pencil-ruler;
}

.callout[data-callout="math"] {
    --callout-color: 112, 206, 18;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-pencil-ruler;
}

.callout[data-callout="spectra"] {
    --callout-color: 221, 8, 143;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-line-chart;
}

.callout[data-callout="catalog"] {
    --callout-color: 115, 166, 54;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-clipboard-list;
}

.callout[data-callout="bonus"] {
    --callout-color: 78, 148, 228;
/*    --callout-title-color: #ff0000;*/
    --callout-icon: lucide-candy;
}


/*.callout:is([data-callout-metadata^="black.title"]) {
    color: #ff0000; 
    --callout-color: 255, 200, 255;
} */


/* Markdown Table Alignment */
.markdown-preview-view table {
    margin-left: auto;
    margin-right: auto;
}

/* Expanding the number of pixels per line - Page width*/
/*body {
  --file-line-width: 60rem !important;
  --tab-stacked-pane-width: 850px;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block > div:not(.block-language-dataview) {
  max-width: 100%;
}*/

