

/*
Red
Yellow
Green
Cyan
Blue
Magneta
*/

/* Dark Theme */
/*
.markdown-source-view .HyperMD-header-1 span {
	color: #FF757F !important;
}
.markdown-source-view .HyperMD-header-2 span {
	color: #E0AF68 !important;
}
.markdown-source-view .HyperMD-header-3 span {
    color: #9ECE6A !important;
}
.markdown-source-view .HyperMD-header-4 span {
    color: #7DCFFF !important;
}
.markdown-source-view .HyperMD-header-5 span {
    color: #7AA2F7 !important;
}
.markdown-source-view .HyperMD-header-6 span {
    color: #BB9AF7 !important;
}
*/

/* Light Theme */
/*
.markdown-source-view .HyperMD-header-1 span {
	color: #8C4351 !important;
}
.markdown-source-view .HyperMD-header-2 span {
	color: #8F5E15 !important;
}
.markdown-source-view .HyperMD-header-3 span {
    color: #33635C !important;
}
.markdown-source-view .HyperMD-header-4 span {
    color: #0F4B6E !important;
}
.markdown-source-view .HyperMD-header-5 span {
    color: #34548A !important;
}
.markdown-source-view .HyperMD-header-6 span {
    color: #5A4A78 !important;
}
*/

